/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark background color */
    color: #fff; /* Default text color */
}

/* Style for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Updated navbar background color */
    padding: 10px;
}

.logo img {
    height: 40px;
    border-radius: 50%; /* Make the logo image circular */
    overflow: hidden; /* Ensure the image fits within the circle */
}

.menu {
    display: flex;
    list-style-type: none;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu li {
    margin-left: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff; /* Text color for menu items */
    transition: background-color 0.3s ease; /* Adding transition effect */
    padding: 8px 15px; /* Add padding for the box effect */
}

.menu li a:hover {
    background-color: #cc7700; /* Color change on hover */
}


/* responsive styles */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .toggle-button {
        display: block;
        cursor: pointer;
    }

    .toggle-button span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff; /* Adjusted color for the toggle button */
        margin-bottom: 5px;
    }
}


/* Hero Section Styles */
.hero {
    background-image: url('https://plus.unsplash.com/premium_photo-1661774910035-05257f7d73a6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGVjb21tZXJjZSUyMHdlYnNpdGV8ZW58MHx8MHx8fDA%3D'); /* Replace with your hero image */
    background-size: cover;
    background-position: center;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #cc7700;
}


/* Products Section Styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.column {
    flex: 1 0 21%; /* Four columns per row with some spacing */
    margin: 1%; /* Space between columns */
}

.product {
    background-color: #333; /* Product background color */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

.product p {
    margin-bottom: 10px;
}


/* Secondary Banner Section Styles */
.secondary-banner {
    width: 100%;
    background-color: #222; /* Secondary banner background color */
    text-align: center;
    padding: 20px 0;
}

.banner-content {
    max-width: 95%;
    margin: 0 auto;
    position: relative;
}

.banner-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tagline h2 {
    color: #fff; /* Tagline text color */
    font-size: 2em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
}

/* Footer Styles */
.footer {
    /*background-color: #333; /* Footer background color */
    color: #fff; /* Text color for footer content */
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

/* Styles for previous and next buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.prev {
    left: 0; /* Position the left arrow to the far left */
    border-radius: 3px 0 0 3px; /* Adjust border-radius for the left arrow */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}